
@font-face {
  font-family: Cocogoose;
  src: url('../assets/fonts/cocogoose/Cocogoose Pro-trial.ttf');
}

body {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 10vw;
  font-family: 'Cocogoose', sans-serif;
}

h2 {
  font-family: 'Cocogoose', sans-serif;
  font-size: 5vw;
}

h3 {
  font-size: 5vw;
}

.text {
  background-image: linear-gradient(rgba(236, 82, 66, 0.5), rgba(236, 82, 66, 0.5)), url(https://images.unsplash.com/photo-1570126646281-5ec88111777f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=725&q=80);
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
}

.nav-logo {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.logo {
  padding-left: 25%;
  margin-top: 2%;
}

#hamburger {
  margin-top: 5%;
  margin-left: 5%;
  font-size: 25px;
}

.mobile-menu {
  background-color: rgb(39, 42, 50);
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  width: 80%;
  opacity: 0.95;
}

.mobile-menu ul a {
  color: #fff;
  text-decoration: none;
}

.mobile-menu ul {
  list-style-type: none;
}

.mobile-menu li {
  padding: 8px;
  font-size: 20px;
}

.desktop-navbar {
  display: none;
}

#cross {
  color: #fff;
  font-size: 20px;
  margin-left: 80%;
  margin-top: 5%;
  background: transparent;
  border: none;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.nav-top {
  display: none;
}

.welcome-text {
  font-weight: bold;
  font-size: 20px;
}

#detail {
  font-size: 18px;
  text-align: justify;
}

.program {
  background-image: url(./images/program-bg.png);
  height: 110vh;
}

#services-title {
  color: #fff;
  font-family: lato, sans-serif;
  text-align: center;
  padding-top: 15%;
  margin-top: 1%;
}

#redline {
  height: 1px;
  width: 60px;
  background-color: rgb(236, 82, 66);
  border-radius: 10px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.service-cards {
  padding-top: 15%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.card {
  background: #eeeeee26;
  font-size: 13px;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1.5fr;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
  color: #fff;
  margin-right: 34px;
}

#program-title {
  color: rgb(235, 26, 71);
  text-align: center;
  font-size: 20px;
}

.card-images {
  width: 50px;
  height: 50px;
}

#view-prog-div {
  margin-left: 40%;
  margin-top: 10%;
  font-size: 18px;
}

#view-program {
  color: #fff;
  text-decoration: none;
}

#featured-members-id {
  margin-left: 3%;
  margin-top: 13%;
}

#team-title {
  color: rgb(111, 112, 116);
  text-align: center;
  font-size: 30px;
  margin-top: 6%;
}

.feature-detail {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  width: 340px;
}

#feature-image {
  width: 140px;
  height: 140px;
}

#feature-name {
  color: rgb(111, 112, 116);
  margin-bottom: 2%;
}

.deignation {
  color: red;
  margin-bottom: 0;
  margin-top: 0;
}

#feature-desc {
  color: rgb(111, 112, 116);
  margin-top: 2%;
}

.about-page {
  height: 100vh;
  background: rgba(0, 0, 0, 0.6) url(./images/light.png);
  background-size: cover;
  background-blend-mode: soft-light;
}

.fan {
  color: black;
}

.songs {
  margin-top: 0;
  padding-top: 0;
}

.songs-heading {
  font-size: 35px;
  color: #393b3f;
  text-align: center;
}

#about-song {
  font-size: 20px;
}

.album {
  display: grid;
  grid-template-rows: auto auto;
}

.song-img {
  width: 318px;
  height: 159px;
  margin-left: 6%;
}

.song-detail {
  color: #393b3f;
  text-align: center;
}

.partners {
  display: none;
}

.footer {
  display: none;
}

.footer,
.footer-about {
  display: none;
}

@media screen and (min-width: 768px) {
  .img-logo {
    margin-left: 10%;
  }

  .mobile-navbar {
    display: none;
  }

  .homepage {
    height: 100%;
    background: rgba(0, 0, 0, 0.85) url(./images/concert.png);
    background-size: cover;
    background-blend-mode: darken;
  }

  .description,
  #detail {
    color: #fff;
    font-size: 30px;
    text-align: center;
  }

  .description {
    padding-top: 8%;
  }

  .nav-top {
    display: block;
    background-color: rgb(27, 23, 23);
    height: 3.5%;
    width: 100%;
    margin-bottom: 0;
  }

  a {
    cursor: pointer;
  }

  .desktop-nav-list a {
    color: rgb(192, 43, 43);
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
  }

  .partners ul {
    padding-top: 1%;
    list-style-type: none;
    text-align: center;
    padding-left: 0;
  }

  .desktop-nav-list ul {
    margin-left: 30%;
    margin-top: 3.5%;
    padding: 0;
    margin-right: 0;
    overflow-wrap: inherit;
  }

  a:hover {
    color: #ec5242;
  }

  a:active {
    color: #ec5242;
  }

  .partners a {
    color: rgb(255, 255, 255, 0.7);
    font-size: 30px;
  }

  #nav-top-list a {
    color: #fff;
  }

  #nav-top-list ul {
    margin-top: 0;
    margin-left: 75%;
    padding-top: 0.3%;
  }

  .desktop-navbar {
    display: flex;
    flex-direction: row;
    height: 5%;
    width: 100%;
    background-color: #fff;
  }

  .logo {
    margin-top: 0;
  }

  .desktop-nav-list {
    width: 100%;
  }

  .desktop-nav-list li {
    display: inline;
    list-style-type: none;
  }

  .welcome-description {
    border-style: solid;
    color: #fff;
    background-color: white;
    height: 50%;
    width: 50%;
    opacity: 0.4;
    margin-left: 1%;
  }

  .welcome-text {
    color: black;
    margin-left: 1%;
  }

  .event-date {
    color: white;
    margin-left: 1%;
  }

  .program {
    height: 60%;
    margin-top: 0;
  }

  #services-title {
    padding-top: 2%;
    font-size: 30px;
  }

  .service-cards {
    padding-top: 2%;
    flex-direction: row;
    column-gap: 35px;
    margin-left: 14%;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 180px;
    height: 180px;
    gap: 2px;
    padding-top: 10px;
    text-align: center;
  }

  #featured-members-id {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    height: 80%;
    margin-left: 8%;
    margin-top: 4%;
  }

  #team-title {
    font-size: 40px;
    margin-top: 4%;
  }

  .feature-detail {
    column-gap: 40px;
    width: 80%;
  }

  .feature-data {
    width: 200px;
    margin-left: 0;
    padding-left: 0;
  }

  #feature-desc {
    width: 200px;
  }

  .partners {
    display: block;
    background-color: #393b3f;
    height: 155%;
  }

  #partners-title {
    color: #fff;
    font-family: lato, sans-serif;
    padding-top: 1%;
    text-align: center;
  }

  .partners li {
    display: inline;
    padding: 2%;
  }

  .footer {
    display: block;
    display: flex;
    width: 100%;
  }

  .footer-logo {
    margin-left: 30%;
    margin-top: 0.2%;
  }

  .footer-description {
    margin-left: 5%;
    font-size: 25px;
    margin-top: 1%;
  }

  .about-page {
    height: 100%;
    background: rgba(0, 0, 0, 0.85) url(./images/jimin.png);
  }

  .songs {
    height: 70%;
    width: 100%;
  }

  .songs-heading {
    font-size: 40px;
    margin-top: 3%;
  }

  #about-song {
    font-size: 25px;
  }

  .album {
    display: grid;
    grid-template-columns: auto auto;
    width: 70%;
    margin-left: 19%;
    margin-top: 5%;
    column-gap: 10px;
  }

  .song-img {
    width: 100%;
    height: 80%;
  }

  .footer-about {
    display: flex;
    background-color: #393b3f;
    width: 100%;
  }

  .footer-logo-about {
    margin-left: 30%;
    margin-top: 0.2%;
  }

  .footer-description-about {
    color: #fff;
    margin-left: 5%;
    font-size: 25px;
    margin-top: 1%;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
